node_modules/
.pnp/
.pnp.js
.pnp.cjs
.npm/
.vscode/
.idea/
.svelte-kit/
build/
.env
.env.*.local
!*.env.example # keep example environment files
.vite/
dist/ # often used for production builds
.ds_store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn
yarn.lock
*.iml
*.ipr
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
*.class
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*~
.fuse_hidden*
.directory
.trash-*
.nfs*
.appledouble
.lsoverride
icon
._*
.documentrevisions-v100
.fseventsd
.spotlight-v100
.temporaryitems
.trashes
.volumeicon.icns
.com.apple.timemachine.donotpresent
.appledb
.appledesktop
network trash folder
temporary items
.apdisk
thumbs.db
thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[dd]esktop.ini
$recycle.bin/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
gradle-app.setting
.gradletasknamecache
**/build/
run/
!gradle-wrapper.jar
.mtj.tmp/
bin/
gen/
.classpath
.project
.settings/
proguard/
# local configuration file (sdk path, etc)
local.properties
#gradle
.gradle/
gradle.properties
# exceptions
!gradle/wrapper/*.jar
# logs / save files
config/*
client.log
# modules
/target/
!.mvn/wrapper/maven-wrapper.jar
.apt_generated
.factorypath
.settings
.springbeans
.sts4-cache
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
.loadpath
.recommenders
.externaltoolbuilders/
*.launch
*.pydevproject
.cproject
.autotools
.buildpath
.target
.tern-project
.texlipse
.recommenders/
.apt_generated/
.cache-main
.scala_dependencies
.worksheet
.sts4-cache/
*.orig
*.backup.*
*.base.*
*.local.*
*.remote.*
*_backup_*.txt
*_base_*.txt
*_local_*.txt
*_remote_*.txt
target/
pom.xml.tag
pom.xml.releasebackup
pom.xml.versionsbackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildnumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.idea
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/
*.ds_store
*.sw?
.#*
*#
bin
build
target
*.sublime-*
/scratch
.gradle
readme.html
.exercism